<!doctype html>
<html lang="en">

<head>
    <title>VNPost</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- start header -->
        <header class="dflex container-fluid">
            <div class="header__logo">
                <img src="assets/image/article_1546001113_751.png" alt="">
            </div>
            <div class="header__acc dflex">
                <i class="fa fa-user-circle"></i>AdminBC6-test@teca.vn
                <i class="fa fa-ellipsis-v ml-3"></i>
            </div>
        </header>
        <!-- end header -->
        <!-- start nav -->
        <section class="nav">
            <ul class="nav__list ">
                <li class="nav__item">
                    <a href="" class="nav__link">Hệ thống</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Kê khai</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Quản lý sự vụ</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Báo cáo thống kê</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Quản lý biên lai</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Tra cứu</a>
                </li>
            </ul>
        </section>
        <!-- end nav -->
        <!-- start content -->
        <section class="content dflex">
            <div class="content__col">
                <div class="heading"><i class="fa fa-indent"></i></div>
                <div class="sidebar-position">
                    <div class="dflex btn1">
                        <i class="left fa fa-sitemap"></i>
                        <span class="font-weight-bold">Danh mục hệ thống</span>
                        <i class="right fa fa-minus" aria-hidden="true" id="iconFirst"></i>
                    </div>
                    <div class="collapse-sub" id="_one">
                        <div class="sidebar-collapse dflex">
                            <i class="fa fa-cog bg-dark text-white p-1 rounded"></i>
                            <span>Danh mục nhóm quyền</span>
                        </div>
                        <div class="sidebar-collapse dflex mt-3">
                            <i class="fa fa-user bg-dark text-white p-1 rounded"></i>
                            <span>Danh mục người dùng</span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-position _mt">
                    <div class="dflex btn2">
                        <i class="left fa fa-address-card"></i>
                        <span class="font-weight-bold">Quản lý người dùng</span>
                        <i class="right fa fa-minus" aria-hidden="true" id="iconLast"></i>
                    </div>
                    <div class="collapse-sub" id="_two">
                        <div class="sidebar-collapse dflex">
                            <i class="fa fa-cog bg-dark text-white p-1 rounded"></i>
                            <span>Danh sách nhóm quyền</span>
                        </div>
                        <div class="sidebar-collapse dflex mt-3">
                            <i class="fa fa-user bg-dark text-white p-1 rounded"></i>
                            <span>Danh sách người dùng</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content__col">
                <div class="heading">
                    <h4>Danh mục mạng lưới</h4>
                </div>
                <div class="search__box">
                    <span>Tìm kiếm: </span>
                    <input type="text">
                    <button><i class="fa fa-search"></i> Tìm kiếm</button>
                </div>
                <div class="container ">
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <p><i class="fa fa-folder mr-2 text-primary"></i> 00 - Tổng công ty</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-11 offset-md-1 col-sm-11 offset-sm-1 col-11 offset-1">
                            <p><i class="fa fa-folder mr-2 text-primary"></i> 10 -Bưu điện TP Hà Nội</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-10 offset-lg-2 col-sm-10 offset-sm-2 col-10 offset-2">
                            <p><i class="fa fa-folder mr-2 text-primary"></i> 1155 - Bưu điện trung tâm 6</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-9 offset-md-3 col-sm-9 offset-sm-3 col-9 offset-3">
                            <p><i class="fa fa-folder mr-2 text-primary"></i> 127060 -KHL Hoàng Mai</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content__col">
                <div class="heading">
                    <h4>Thông tin chi tiết</h4>
                </div>
                <form action="" class="customer">
                    <div class="container mx-3 my-4">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 mt--mb">
                                <div class="container px-0">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="">Mã:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="no--border" type="text" placeholder="1333">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 mt--mb">
                                <div class="container px-0">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="">Tên:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="no--border" type="text" placeholder="KHL Hoàng Mai">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container mx-3">
                        <div class="row">
                            <div class="col-lg-5 col-md-4 mt--mb">
                                <div class="container px-0">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for="">Địa chỉ:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input class="no--border" type="text" placeholder="Phường Giáp Bát">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 mt--mb">
                                <input class="no--border" type="text" placeholder="Quận Hoàng Mai">
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <input class="no--border" type="text" placeholder="Thành Phố Hà Nội">
                            </div>
                        </div>
                    </div>
                    <div class="container mx-3 mt-3">
                        <div class="row">
                            <div class="col-md-6 mt--mb">
                                <div class="container px-0">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="">Số điện thoại:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="no--border" type="text" placeholder="1333">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 mt--mb">
                                <div class="container px-0">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="">Số fax:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="no--border" type="text" placeholder="KHL Hoàng Mai">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container mx-3 mt-3">
                        <div class="row">
                            <div class="col-md-6 mt--mb">
                                <div class="container px-0">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="">Loại BC:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="no--border" type="text" placeholder="KT2">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 mt--mb">
                                <div class="container px-0">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="">Phương thức:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="no--border" type="text" placeholder="Điện tử">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container mx-3 my-3">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Cơ quan BHXH:</label>
                            </div>
                            <div class="col-md-10">
                                <input class="no--border" type="text">
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- end content -->
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>