/*************************1.General**********************/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
}

html {
    font-size: 62.5%;
}

.dflex {
    display: flex;
}

li {
    list-style-type: none;
}

ul,
p {
    margin-bottom: 0;
}

a,
a:hover {
    text-decoration: none;
}

i.left {
    margin-right: 7px;
}

i {
    font-size: 1.1rem!important;
}

i.right {
    float: right;
}

input {
    outline: none;
    font-size: 1rem;
}

label {
    font-size: 1rem;
}


/*************************2.Header**********************/

header {
    padding: 20px 0;
    .header__logo {
        flex-basis: 50%;
        max-width: 50%;
        img {
            width: 40%;
        }
    }
    .header__acc {
        i {
            margin-right: 5px;
        }
        align-items: center;
        justify-content: flex-end;
        flex-basis: 50%;
        max-width: 50%;
        font-size: 1.1rem;
    }
}


/*************************2.Nav**********************/

.nav {
    background-color: #007bff;
    ul.nav__list {
        height: 30px;
        padding-left: 7px;
        li.nav__item {
            height: 100%;
            line-height: 30px;
            display: inline-block;
            a.nav__link {
                text-transform: uppercase;
                color: white;
                padding: 0 10px;
                display: inline-block;
                height: 100%;
            }
            &:hover {
                background-color: #FCB71E;
            }
        }
    }
}


/*************************2.Content**********************/

.content {
    margin-top: 5px;
    justify-content: flex-start;
    overflow: hidden;
    flex-wrap: wrap;
    .content__col {
        &:nth-child(1) {
            flex-basis: 3%;
            max-width: 3%;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
            transition: all 0.5s ease;
            &.open {
                flex-basis: 18%;
                max-width: 18%;
                .sidebar-position {
                    span {
                        height: auto;
                        width: 100%;
                        display: block;
                    }
                    i.right {
                        display: block;
                        width: auto;
                        height: auto;
                    }
                    .sidebar-collapse {
                        width: auto;
                        opacity: 1;
                        span {
                            height: auto;
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
            .heading {
                height: 25px;
                font-size: 24px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 15px 12px 15px;
                background-color: #007bff;
                color: white;
                i {
                    text-align: center;
                }
            }
            .sidebar-position {
                height: 30px;
                cursor: pointer;
                padding: 0 12px;
                align-items: center;
                .dflex {
                    height: 100%;
                    align-items: center;
                }
                .collapse-sub {
                    transition: all 0.5s;
                    opacity: 1;
                    height: auto;
                    &.pd {
                        padding-left: 20px;
                    }
                    &.hidden {
                        height: 0;
                        opacity: 0;
                    }
                }
                i.left {
                    text-align: center;
                }
                span,
                i.right {
                    display: none;
                    transition: width 0.5s ease;
                    color: black;
                }
                .sidebar-collapse {
                    width: 10px;
                    opacity: 1;
                    height: 20px;
                    &:first-child {
                        margin-top: 5px;
                    }
                    i {
                        text-align: center;
                        margin-right: 5px;
                    }
                    span {
                        display: none;
                    }
                }
            }
            &.active {
                transform: translateX(-150px);
            }
        }
        &:nth-child(2) {
            flex-basis: 25%;
            max-width: 25%;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
            .heading {
                h4 {
                    text-transform: uppercase;
                }
                border-bottom: 1px solid #eeeded;
                padding: 8px 5px;
            }
            .search__box {
                border: 1px solid #eeeded;
                border-radius: 5px;
                padding: 15px 5px;
                margin: 3px;
                input {
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    outline: none;
                    width: 45%;
                    margin-left: 10px;
                }
                button {
                    background-color: #007bff;
                    border: none;
                    color: white;
                    padding: 5px;
                    border-radius: 1px;
                    float: right;
                }
            }
        }
        &:nth-child(3) {
            flex-basis: 70%;
            max-width: 70%;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
            &.small {
                flex-basis: 55%;
                max-width: 55%;
            }
            .heading {
                h4 {
                    text-transform: uppercase;
                }
                border-bottom: 1px solid #eeeded;
                padding: 8px 5px;
            }
            .customer {
                input.no--border {
                    border: none;
                    border-bottom: 1px dotted #b6b5b5;
                    width: 100%;
                }
            }
        }
    }
}

@import '_res.scss';